PORT=4000
JWT_SECRET=MItBhHlQe/ndAc9R8rrXSKZudz6Js60gzCiqkGCUaZ4=
JWT_EXPIRES_IN=8h
DB_PATH=./db/smartbank.sqlite


# No default accounts are nedded. To register as staff or admin (instead of
# the public "customer" role), the registration form must be given one of these codes

STAFF_SIGNUP_CODE=STF-194
ADMIN_SIGNUP_CODE=ADM-194


# Email configuration for sending notifications and alerts
SmartBank_SMTP_HOST=smtp.gmail.com
SmartBank_SMTP_PORT=587

SmartBank_SMTP_USERNAME=smartbank404@gmail.com
SmartBank_SMTP_PASSWORD=oryitzqcayaanfyw
SmartBank_SMTP_FROM=smartbank404@gmail.com