PORT=4000
JWT_SECRET=MItBhHlQe/ndAc9R8rrXSKZudz6Js60gzCiqkGCUaZ4=
JWT_EXPIRES_IN=8h
DB_PATH=./db/smartbank.sqlite

# To register as staff or admin, the registration form must be given one of these codes
STAFF_SIGNUP_CODE=choose-a-staff-code
ADMIN_SIGNUP_CODE=choose-an-admin-code


BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=SmartBank
