PORT=4000
JWT_SECRET=change_this_to_a_long_random_secret_before_deploying
JWT_EXPIRES_IN=8h
DB_PATH=./db/smartbank.sqlite


# No default accounts are nedded. To register as staff or admin (instead of
# the public "customer" role), the registration form must be given one of these codes

STAFF_SIGNUP_CODE=STF-194
ADMIN_SIGNUP_CODE=ADM-194

BREVO_SMTP_LOGIN=ba057c001@smtp-brevo.com
BREVO_SMTP_KEY=xsmtpsib-d8da75a2c7c45c46440f3f1af0a15808841c63c2978575dede2612d1974d909b-er56RxVeMAiIUT3W